<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Payment</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <label for="userId" class="form-label">User ID</label>
              <input
                id="userId"
                formControlName="userId"
                type="text"
                class="form-control"
                readonly
              />
            </div>

            <div class="form-group mb-3">
              <label for="amount" class="form-label">Amount (in dollars)</label>
              <input
                id="amount"
                formControlName="amount"
                type="number"
                class="form-control"
                readonly
              />
            </div>

            <div class="form-group mb-3">
              <label for="card-number-element" class="form-label"
                >Card Number</label
              >
              <div id="card-number-element" class="form-control"></div>
              <div *ngIf="cardNumberError" class="text-danger">
                {{ cardNumberError }}
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="card-expiry-element" class="form-label"
                >Expiration Date</label
              >
              <div id="card-expiry-element" class="form-control"></div>
              <div *ngIf="cardExpiryError" class="text-danger">
                {{ cardExpiryError }}
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="card-cvc-element" class="form-label">CVC</label>
              <div id="card-cvc-element" class="form-control"></div>
              <div *ngIf="cardCvcError" class="text-danger">
                {{ cardCvcError }}
              </div>
            </div>

            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="
                !stripe ||
                isProcessing ||
                cardNumberError ||
                cardExpiryError ||
                cardCvcError
              "
            >
              Submit Payment
            </button>
          </form>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
          <div *ngIf="successMessage" class="alert alert-success mt-3">
            {{ successMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
