<footer class="footer mt-auto py-3 bg-dark shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>About Us</h5>
        <ul class="list-unstyled">
          <li><a href="#">About IMS</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Press</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><a href="#">Help Center</a></li>
          <li>
            <a routerLink="/contact" class="nav-link">Contact</a>
          </li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>More</h5>
        <ul class="list-unstyled">
          <li><a href="#">Affiliate Program</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Mobile Apps</a></li>
          <li><a href="#">Business Solutions</a></li>
        </ul>
      </div>
      <div class="col-md-3 text-center">
        <h5>Follow Us</h5>
        <a href="#" class="me-2"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#" class="me-2"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#" class="me-2"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <span>&copy; 2024 IMS. All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
